.card {
    width: 270px;
    height: 360px;
    border: 2px solid red;
}

.card-image {
    width: 100%;
    height: 250px;
    padding: 12px;
    position: relative;

}

.card-item-image {
    width: 100%;
    object-fit: cover;
}

.discount {
    width: 55px;
    height: 26px;
    background-color: red;
    padding: 4px 12px;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 12px;
}
.card-btn {
    width: 100%;
    height: 41px;
    background-color: black;
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 4px 4px;
    opacity: 0;
    transition: all 0.3s ease;
}

.card-image:hover .card-btn {
    opacity: 1;
}

.card-content {}