.banner {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sidebar {}

.sidebar ul {
    list-style: none;
    height: 344px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.carousel {
    width: 892px;
    height: 344px;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}